<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estado">
      <app-banner></app-banner>
    </div>

    <div *ngIf="!cadastro; else divCadastro" class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estado">
      <app-login (exiberPainel)="exibirPainel($event)" (animar)="animar($event)"></app-login>
    </div>

    <ng-template #divCadastro>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estado">
        <app-cadastro (exibirPainel)="exibirPainel($event)" (animar)="animar($event)"></app-cadastro>
      </div>
    </ng-template>
    
  </div>
</div>